name: Deploy Docker Compose on EC2

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Git branch to deploy'
        required: false
        default: 'master'

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Start SSH agent
      uses: webfactory/ssh-agent@v0.7.1
      with:
        ssh-private-key: ${{ secrets.EC2_KEY }}

    - name: Connect to EC2 and deploy
      run: |
        ssh -o StrictHostKeyChecking=no ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'

          BRANCH="${{ github.event.inputs.branch }}"

          # Clone or update repo
          if [ -d ~/app ]; then
            cd ~/app
            git fetch origin
            git reset --hard origin/$BRANCH
          else
            git clone -b $BRANCH https://github.com/aries89/microservices-deployment.git ~/app
            cd ~/app
          fi

          # Create .env file dynamically from GitHub Secrets using echo
          echo "USER_SERVICE_IMAGE=${{ secrets.USER_SERVICE_IMAGE }}" > .env
          echo "PRODUCT_SERVICE_IMAGE=${{ secrets.PRODUCT_SERVICE_IMAGE }}" >> .env
          echo "ORDER_SERVICE_IMAGE=${{ secrets.ORDER_SERVICE_IMAGE }}" >> .env
          echo "RDS_ENDPOINT=${{ secrets.RDS_ENDPOINT }}" >> .env
          echo "MASTER_USER=${{ secrets.MASTER_USER }}" >> .env
          echo "MASTER_PASSWORD=${{ secrets.MASTER_PASSWORD }}" >> .env

          # Configure AWS CLI for ECR
          mkdir -p ~/.aws
          echo "[default]" > ~/.aws/credentials
          echo "aws_access_key_id=${{ secrets.AWS_ACCESS_KEY_ID }}" >> ~/.aws/credentials
          echo "aws_secret_access_key=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> ~/.aws/credentials
          echo "[default]" > ~/.aws/config
          echo "region=${{ secrets.AWS_REGION }}" >> ~/.aws/config

          # Login to ECR
          aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com

          # Deploy Docker Compose using the .env file
          docker-compose --env-file ./.env -f ./docker-compose.rds.yml down
          docker-compose --env-file ./.env -f ./docker-compose.rds.yml pull
          docker-compose --env-file ./.env -f ./docker-compose.rds.yml up -d --build

        EOF
