name: Deploy to EC2

on:
  workflow_dispatch:
  push:
    branches: [ master ]  # or master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Deploy to EC2 via SSH
        uses: appleboy/ssh-action@v1.2.2
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            echo "Creating .env.aws from GitHub Secrets..."
            echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" > ~/microservices-deployment/.env.aws
            echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> ~/microservices-deployment/.env.aws
            echo "USER_SERVICE_IMAGE=${{ secrets.USER_SERVICE_IMAGE }}" >> ~/microservices-deployment/.env.aws
            echo "PRODUCT_SERVICE_IMAGE=${{ secrets.PRODUCT_SERVICE_IMAGE }}" >> ~/microservices-deployment/.env.aws
            echo "ORDER_SERVICE_IMAGE=${{ secrets.ORDER_SERVICE_IMAGE }}" >> ~/microservices-deployment/.env.aws
            echo "Logging into AWS ECR..."
            aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | docker login --username AWS --password-stdin ${{ secrets.ECR_REGISTRY }}
            echo "Navigating to deployment folder..."
            cd ~/microservices-deployment
            echo "Pulling latest images..."
            docker-compose --env-file .env.aws -f docker-compose.aws.yml pull
            echo "Starting containers..."
            docker-compose --env-file .env.aws -f docker-compose.aws.yml up -d
            echo "Deployment complete!"
